#box1{
    height: 200px;
    width: 200px;
    background-color: black;
    position: absolute;
    top: 100px;
    left: 100px;
}


#box2{
    height: 200px;
    width: 200px;
    background-color: aquamarine;
    position: absolute;
    top: 150px;
    left: 150px;
}

#box3{
    height: 200px;
    width: 200px;
    background-color: orange;
    position: absolute;
    top: 200px;
    left: 200px;

}

#main-container{
    height: 600px;
    width: 100%;
    border: 1px solid black;
    
}
#box4{
    height: 200px;
    width: 100%;
    background-color: black;
}