body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;

}

#box{
    height: 80px;
    width: 80px;
    background-color: aquamarine;
    animation-name: box;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes box{
    
        25% {
            background-color: blue;
            transform: translate(0px, -300px) rotate(90deg);
        }
        50% {
            background-color: rgb(70, 70, 83);
            transform: translate(300px, -300px) rotate(180deg);
        }
        75% {
            background-color: rgb(4, 4, 30);
            transform: translate(300px, 0px) rotate(270deg);
        }
        100% {
            background-color: rgb(64, 64, 83);
            transform: translate(0,0) rotate(360deg);
        }
         
}