body{
    height: 100vh;
    display: flex;
    justify-content: space-between;
    /* gap: 40px; */
    align-items: end;
    background-color: black;
}

div{
    height: 80px;
    width: 80px;
    background-color: red;
    border-radius: 8px;
    animation: bouncingbox;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: ease-out;
    

}

div:nth-child(1){
    animation-delay: 0.3s;
}
div:nth-child(2){
    animation-delay: 0.4s;
    background-color: green;
}
div:nth-child(3){
    animation-delay: 0.4s;
}
div:nth-child(4){
    animation-delay: 0.5s;
    background-color: green;
}
div:nth-child(5){
    animation-delay: 0.6s;
}
div:nth-child(6){
    animation-delay: 0.6s;
}
div:nth-child(7){
    animation-delay: 0.7s;
}
div:nth-child(8){
    animation-delay: 0.8s;
    background-color: green;
}
div:nth-child(9){
    animation-delay: 0.9s;
}
div:nth-child(10){
    animation-delay: 1s;
}
div:nth-child(11){
    animation-delay: 1.1s;
    background-color: green;
}
div:nth-child(12){
    animation-delay: 1.2s;
}
div:nth-child(13){
    animation-delay: 1.3s;
}
div:nth-child(14){
    animation-delay: 1.4s;
}
div:nth-child(15){
    animation-delay: 1.5s;
    background-color: green;
}
div:nth-child(16){
    animation-delay: 1.6s;
}
div:nth-child(17){
    animation-delay: 1.7s;
}
div:nth-child(18){
    animation-delay: 1.8s;
}


@keyframes bouncingbox {

    to{
        transform: translate(0px, -500px);
    }
    
}