#box1{
    height: 300px;
    width: 300px;
    /* border-width: 15px;
    border-style: solid;
    border-color: aqua; */

    border: 10px solid red;

    /* border-top: none;
    border-right-color: pink;
    border-radius: 100%;
    border-radius: 30px 0px 30px 0px; */

    border-top-left-radius: 30px;
    border-bottom-right-radius: 30px;

}