/* #parent{
    height: 400px;
    width: 100%;
    border: 2px solid;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    
}
#child1{
    height: 300px;
    width: 300px;
    background-color: black;
}
#child2{
    height: 300px;
    width: 300px;
    background-color: red;
}
#child3{
    height: 300px;
    width: 300px;
    background-color: orange;
} */
#container{
    height: 500px;
    width: 100%;
    border: 3px dotted;
    justify-content: space-evenly;
    display: flex;
    align-items: center;
}
#b1{
    height: 300px;
    width: 300px;
    background-color: aquamarine;
    justify-content: space-evenly;
    display: flex;
    align-items: center;
}
#b2{
    height: 300px;
    width: 300px;
    background-color: aquamarine;
    justify-content: space-evenly;
    display: flex;
    align-items: center;
}
#p1{
    height: 100px;
    width: 100px;
    background-color: black;
}
#p2{
    height: 100px;
    width: 100px;
    background-color: black; 
}
#p3{
    height: 100px;
    width: 100px;
    background-color: black;
}
#p4{
    height: 100px;
    width: 100px;
    background-color: black;    
}




