#topfooter{
    /* margin-top: 800px; */
    height: 600px;
    width: 100%;
    background-color: black;
    display: flex;
    justify-content: space-around;

}
#bottomfooter{
    height: 100px;
    width: 100%;
    border: 2px solid white;
    background-color: black;
}
h1{
    color: gray;

}