#myntraheader{
    height: 100px;
    width: 100%;
    border: 3px solid;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#logo-links{
    height: 90px;
    width: 45%;
    border: 2px solid;
    display: flex;
    align-items: center;
    
}


#navlinks{
    height: inherit;
    width: 90%;
    display: flex;
    justify-content: space-around;
    align-items: center;
   

}

a{
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    

}

sup{
    color: red;
}


#search-bar{
    height: 90px;
    width: 30%;
    border: 2px solid;
}

#logo{
    height: 90px;
    width: 20%;
    border: 2px solid;
}


