#loginpage{
    height: 760px;
    width: 100%;
    background-color: #182c18;
    display: flex;
    align-items: center;
    justify-content: center;
}

#login-container{
    height: 600px;
    width: 900px;
    border: 3px solid white;
    background-image: url("https://i.pinimg.com/1200x/7d/47/38/7d4738acda0595b342dffee2731b25aa.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

#login{
    height: 600px;
    width: 450px;
    border: 1px solid white;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    background-color: rgb(0, 0, 0,0.5);
}

#signtoggle{
    margin-left: 250px;
    margin-top: 10px;
}

#login>h1{
    color: white;
    margin-right: 180px;
    margin-top: 100px;
    display: flex;
    flex-direction: row;
    align-items: center;

}

#login>input{
    height: 20px;
    width: 60%;
    border: none;
    border-radius: 10px;
    color: white;
}

#login>checkbox>input{
    color: white;

}

#login>label{
    justify-content: space-between;
}

button{
    height: 40px;
    width: 40%;
    border-radius: 10px;
    font-style: bold;
    background-color: #80bc67;
    color: white;
    border: 1px solid white;
}


#signup{
    height: 600px;
    width: 450px;
    border: 1px solid red;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    background-color: rgb(0, 0, 0,0.5);
}

#logintoggle{
    margin-right: 250px;
    margin-top: -90px;
    margin-bottom: 197px;
}

#signup>h1{
    margin-left: 200px;
    margin-bottom: 10px;
}


#signup>input{
     height: 20px;
    width: 60%;
    border: none;
    border-radius: 10px;
    color: white;
}

