#loginform{
    height: 750px;
    width: 100%;
    border: 3px solid;
    background-image: url("https://img.freepik.com/premium-vector/vector-mountain-landscape-lake-highlands_981067-1238.jpg?semt=ais_hybrid&w=740&q=80");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;

}

#login{
    height: 600px;
    width: 300px;
    /* border: 2px solid white; */
    background-color: rgb(0, 0,0, 0.5);
}

#login-img{
    height: 300px;
    width: 100%;
}

img{
    height: 300px;
    width: 100%;
}

#login-form{
    height: 300px;
    width: 100%;
    /* border: 3px solid red; */
    gap: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* background-color: #eed1b3; */
}
input{
    height: 30px;
    width: 70%;
    border-radius: 10px;
    outline: none;
    background-color: #eed1b3;

}

#forgotpassword{
    height: 30px;
    width: 70%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

#forgotpassword>a{
    color: white;
    border: none;

}

button{
    height: 30px;
    width: 70%;
    background-color: #eed1b3;
}

#login-form>a{
    color: white;
    border: none;
}

#login-form>h1{
    margin-right: 150px;
    color: white;
}
