body{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 150px;
    background-color: black;

}



#logincontainer{
    height: 400px;
    width: 400px;
    border-radius: 10px;
    background-color: white;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

#logo{
    height: 100px;
    width: 100px;
    border-radius: 100%;
    margin-bottom: -50px;
    margin-left: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 58px;
    border: 1px solid white;
    background-color: rgb(218, 94, 94);
    box-shadow: 10px, 10px,5px gray;
    border: none;
    position: sticky;

}
.input{
    height: 30px;
    width: 230px;
    border-radius: 8px;
    gap: 10px;

}

#checkbox{
    display: flex;
    justify-content:space-between;
    
}

#login{
    color: white;
    font-size: large;
    height: 30px;
    width: 200px;
    border: none;
    border-radius: 10px;
    background-color: red;
}



