#box1{
    height: 200px;
    width: 200px;
    background-color: aquamarine;
    position: relative;
    top: 100px;
    left: 100px;
}

#box2{
    height: 200px;
    width: 200px;
    background-color: brown;
}