 #cartbtn{
    height: 20px;
    width: 50px;
    margin-bottom: -150px;
   margin-left: 1100px;
   margin-top: 50px;
 }
 
 #outerdiv{
            height: 100vh;
            width: 100%;
            display: flex;
            justify-content: space-around;
            align-items: center;
            text-align: center;
    }


#cart1, #cart2, #cart3, #cart4, #cart5{
    height: 180px;
    width: 180px;
    border: 1px solid salmon;
    background-color: brown;
}

    