.body{
    display: flex;
    justify-content: center;
    margin-left: 20px;
}

#calculator{
    height: 400px;
    width: 400px;
    color: white;
    background-color: rgb(28, 30, 30);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#plus{
    height: 20px;
    width: 100px;
}

#minus{
    height: 20px;
    width: 100px;
}